<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Exciting-Lunch</title>
	<link rel="icon" href="../images/exciting.jpg" type="image/x-icon">
	<link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon">
	<link rel="stylesheet" href="../css/libs/flex.css">
	<link rel="stylesheet" href="../css/libs/animate.css">
	<link rel="stylesheet" href="../css/libs/loading.css">
	<link rel="stylesheet" href="../css/global.css">
	<link rel="stylesheet" href="../font-awesome/css/fontawesome-all.css">
	<script src="../js/libs/jquery.min.js"></script>
	<script src="../js/libs/ejs.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/libs/axios.min.js"></script>
	<script src="../js/libs/dateformat.js"></script>
	<script src="../js/util.js"></script>
	<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
  <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
  <script src="https://img.hcharts.cn/highcharts/modules/heatmap.js"></script>
  <script src="https://img.hcharts.cn/highcharts/modules/treemap.js"></script>
  <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
  <script src="https://img.hcharts.cn/highcharts/themes/grid-light.js"></script>
</head>
<body>
	<div id="main">
		<%-body%>
	</div>
	<div id="loading"></div>
</body>

</html>